#HeadingTxt {
    cursor: pointer;
    -webkit-text-stroke: 1px #ffffff;
    color: transparent;
}

#TxtTxt {
    color: white;
}

@media (max-width: 600px) {
    #TxtTxt {
        -webkit-text-stroke: 1px transparent !important;
        color: white !important;
    }
}

.fadeInAnimation {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
